fastapi
uvicorn[standard]
python-multipart
openai-whisper
groq
edge-tts
python-dotenv
sqlalchemy
pymysql
cryptography
passlib[bcrypt]
python-jose[cryptography]
alembic
pydantic[email]
httpx
faster-whisper